<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.0.0
    </div>
    <strong>Copyright &copy; {{ 'now' | date('Y') }} <a href="https://give2get.es" target="_blank">Goleadsit</a>.</strong> All rights
    reserved.
</footer>
