<!-- Logo -->
<a href="{{ path(logoPath) }}" class="logo">
  <!-- mini logo for sidebar mini 50x50 pixels -->
  <span class="logo-mini">{{ logoMini | raw }}</span>
    <!-- logo for regular state and mobile devices -->
  <span class="logo-lg">{{ logoLg | raw }}</span>
</a>
